[submodule "Route-Planning-Project"]
	path = Route-Planning-Project
	url = https://github.com/krillavilla/Route-Planning-Project.git
[submodule "System-Monitor-"]
	path = System-Monitor-
	url = https://github.com/krillavilla/System-Monitor-.git
[submodule "Memory-Management-Chatbot"]
	path = Memory-Management-Chatbot
	url = https://github.com/krillavilla/Memory-Management-Chatbot.git
[submodule "Concurrent-Traffic-Simulation"]
	path = Concurrent-Traffic-Simulation
	url = https://github.com/krillavilla/Concurrent-Traffic-Simulation.git
[submodule "Snake-Game"]
	path = Snake-Game
	url = https://github.com/krillavilla/Snake-Game.git
